@use 'variaveis';
@use 'mixins';
@use 'sass:math';

.section {
  @include mixins.section-box;
  margin: 3rem auto;
  padding: variaveis.$spacing;
  max-width: 1000px;

  &:hover {
    transform: translateY(-5px);
  }

  &__title {
    font-size: 2rem;
    margin-bottom: math.div(variaveis.$spacing, 2); // ✅ agora sem warning
    color: variaveis.$primary;
    text-align: center;

    &::after {
      content: "";
      display: block;
      width: 60px;
      height: 4px;
      background: variaveis.$primary;
      margin: 0.5rem auto;
      border-radius: 2px;
    }
  }
}
