@use 'variaveis';

@mixin section-box {
  background-color: variaveis.$white; 
  border-radius: variaveis.$radius;
  box-shadow: variaveis.$shadow;
  transition: transform variaveis.$transition;
}

@mixin button-style {
  padding: 0.9rem;
  background-color: variaveis.$primary;
  color: variaveis.$white;
  border: none;
  border-radius: variaveis.$radius;
  font-weight: bold;
  cursor: pointer;
  transition: background-color variaveis.$transition;
}

